<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ user.name }} 的观影清单</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <h2>
                <img class="totoro" src="{{ url_for('static', filename='images/totoro.jpg') }}" alt="totoro">
                {{ user.name }} 的观影清单
            </h2>

            <nav>
                <ul>
                    <li>
                        <a href="{{ url_for('index') }}">首页</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li>
                            <a href="{{ url_for('settings') }}">设置</a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}">登出</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('login') }}">登录</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <div class="container">
            <div class="message_alert">
                {% for message in get_flashed_messages() %}
                    <div class="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <footer>
            <small>
                &copy; 2020 <a target="_blank" href="https://github.com/wtraceback/Watchlist">whxcer</a>
            </small>
        </footer>
    </body>
</html>