{% extends 'base.html' %}

{% block content %}
    <p>{{ movies|length }} 条清单</p>

    {% if current_user.is_authenticated %}
        <form method="post">
            <label for="title">电影名</label>
            <input id="title" type="text" name="title" autocomplete="off" required>
            <label for="year">上映年份</label>
            <input id="year" type="text" name="year" autocomplete="off" required>
            <input class="butn" type="submit" name="submit" value="添加">
        </form>
    {% endif %}

    <ul class="movie-list">
        {% for movie in movies %}
            <li>
                {{ movie.title }} - {{ movie.year }}
                <span class="float-right">
                    {% if current_user.is_authenticated %}
                        <a class="butn" href="{{ url_for('edit', movie_id=movie.id) }}">编辑</a>

                        <form class="inline-form" action="{{ url_for('delete', movie_id=movie.id) }}" method="post">
                            <input class="butn" type="submit" name="delete" value="删除" onclick="return confirm('你确定要删除这条数据吗？')">
                        </form>
                    {% endif %}

                    <a class="douban" href="https://movie.douban.com/subject_search?search_text={{ movie.title }}" target="_blank" title="Find this movie on douban">豆瓣</a>
                </span>
            </li>
        {% endfor %}
    </ul>

    <img class="stroll" src="{{ url_for('static', filename='images/stroll.jpg') }}" alt="stroll">
{% endblock %}