<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ user.name }}'s Watchlist</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <h2>
                <img class="totoro" src="{{ url_for('static', filename='images/totoro.jpg') }}" alt="totoro">
                {{ user.name }}'s Watchlist
            </h2>
        </header>

        <div class="container">
            <p>{{ movies|length }} Titles</p>

            <ul class="movie-list">
                {% for movie in movies %}
                <li>{{ movie.title }} - {{ movie.year }}</li>
                {% endfor %}
            </ul>
        </div>

        <footer>
            <img class="stroll" src="{{ url_for('static', filename='images/stroll.jpg') }}" alt="stroll">
            <small>
                &copy; 2020 whxcer
            </small>
        </footer>
    </body>
</html>